@import "bootstrap";

body{
  padding-top: 20px;
  background-color: #e8e9ea;
}

.warpper{
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
}
.topic-container{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
}
<<<<<<< HEAD

.topic-title {
  font-weight:bold;
  font-size:large;
  white-space:nowrap;
}

.topic-author {
  font-size:small;
  font-style:italic;
  margin-left:20px;
}

=======
>>>>>>> 84f6497c9b553f4732cd5b6f7114fdeb8599bfa0
.white-div{
  background-color: #fff;
  padding: 10px;
}

.current-topics{
  flex:1;
<<<<<<< HEAD
  margin:2px;
  padding: 20px;
}

.post-list{
  padding: 20px;
}

=======
  padding: 20px;
}
>>>>>>> 84f6497c9b553f4732cd5b6f7114fdeb8599bfa0
.btn-login{
  background-color: #333333;
}

.btn-login:hover{
  background-color: #595a5b;
}

.create-thread{
  padding: 2%;
}
<<<<<<< HEAD

.post-container{
  padding:20px;
  margin-bottom:3px;
  background:#fff;
}

.post-user{
  font-weight:bold;
}

.post-content{

}
=======
>>>>>>> 84f6497c9b553f4732cd5b6f7114fdeb8599bfa0
