<!--
<div class="create-thread">
  <form class="">
    <h4 class="">Create new thread</h4>
    <div class="form-group">
      <input id="threadtitle" class="form-control" type="text" name="title" value="" placeholder="Title">
    </div>
    <div class="form-group">
      <textarea id="threaddescription" class="form-control" name="description" rows="8" cols="80" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-lg btn-login" type="button" value="Create" data-toggle="modal" data-target="#myModal" {{action 'addThread'}}>
    </div>
  </form>
</div>
-->
<div class="create-thread">
  <form class="">
    <h4 class="">Create new thread</h4>
    <div class="form-group">
      {{input type="title" class="form-control" placeholder="Title" value=threadtitle autofocus="autofocus"}}
    </div>
    <div class="form-group">
    <button class="btn btn-primary btn-lg btn-login" {{action 'postThread'}}>Create</button>
    </div>
  </form>
</div>
