<div class="container-fluid">
  <form class="form-inline" action="index.html" method="post">
    <h4 class="">Login</h4>
    <div class="form-group">
      <input class="form-control" type="text" name="username" value="" placeholder="Your username">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" value="" placeholder="Your password">
    </div>
    <div class="form-group">
      <input class="btn btn-primary btn-block btn-login" type="button" name="" value="Login">
    </div>

    <div class="form-group">
      {{#link-to "register" tagName="div" }}<input class="btn btn-primary btn-block btn-login" type="button" name="" value="Register">{{/link-to}}
    </div>
  </form>
</div>

<div class="container">
  <h3>Current Topics:</h3>
  <div class="topic-container">
<<<<<<< HEAD
    {{#each model.topics as |topic|}}
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        {{#link-to "topic" (query-params id=topic.id) tagName="a"}}{{topic.threadTitle}}{{/link-to}}
      </div>
      <div class="topic-author">
        <span>by: {{topic.userId}}</span>
      </div>
      <div class="topic-timestamp">
        <span>on: {{topic.threadTimestamp}}</span>
      </div>
    </div>
    {{/each}}
=======
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        <p>Topic 1</p>
      </div>
    </div>
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        <p>Topic 1</p>
      </div>
    </div>
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        <p>Topic 1</p>
      </div>
    </div>
  </div>
  <div class="topic-container">
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        <p>Topic 2</p>
      </div>
    </div>
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        <p>Topic 2</p>
      </div>
    </div>
    <div class="white-div current-topics col-md-4">
      <div class="topic-title">
        <p>Topic 2</p>
      </div>
    </div>
>>>>>>> 84f6497c9b553f4732cd5b6f7114fdeb8599bfa0
  </div>
</div>

<!-- will be display once the user logs in -->
<div class="container-fluid">
  <div class="">
    {{#link-to "createthread" tagName="p" }}<button class="btn btn-primary btn-login" type="button" name="button">+ Add topic</button>{{/link-to}}
  </div>
</div>
